{% extends "layout.html" %}
{% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h2>{{params['blog_name']}}</h2>
              <span class="subheading">{{params['tag_line']}}</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          
            
          


     <!-- Todo: Fetch it using for loop from the database -->

     <h1>Basic Actions</h1>
          <a href="/dashboard"><BUTTON class ="btn btn-primary">Dashboard Home </BUTTON></a>
          <a href="/logout"><BUTTON class ="btn btn-primary">LogOut</BUTTON></a>
          <hr>
          <h1>Upload a File</h1>

   <h1>Add/Edit Post</h1> 



<form name="sentMessage" id="contactForm" action = '/edit/{{SNO}}' method="post" novalidate>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Title</label>
              <input type="text" class="form-control" placeholder="Title" id="Title" name='Title' required data-validation-required-message="Please enter your name." value="{{post.Title}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>tagline</label>
              <input type="text" class="form-control" placeholder="tagline" id="tagline" name='tagline' required data-validation-required-message="Please enter your email address." value="{{post.tagline}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>slug</label>
              <input type="text" class="form-control" placeholder="slug" id="slug" name='slug' required data-validation-required-message="Please enter your phone number." value="{{post.slug}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Content</label>
              <textarea rows="5" class="form-control" placeholder="Content" id="Content" name='Content' required data-validation-required-message="Please enter a message." >{{post.Content}}</textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>

          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>img_file</label>
              <input class="form-control" placeholder="img_file" id="img_file" name='img_file' value="{{post.img_file}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>












          <br>
          <div id="success"></div>
          <div class="form-group">
           <button type="submit" class="btn btn-primary" id="sendMessageButton">Submit</button>
          </div>
        </form>
          <!-- Pager -->
          
    {% endblock %}
